@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
.container {
  width: 1340px;
}

body {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url("../image/christmas.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.mainlogin {
  display: flex;
  justify-content: center;
}

.input {
  border: none;
  border-bottom: 1px solid white;
  width: 300px;
  background-color: transparent;
  outline: none;
  color: white;
}
.input::-moz-placeholder {
  color: white;
  font-weight: 400;
}
.input::placeholder {
  color: white;
  font-weight: 400;
}

.button {
  border-radius: 30px;
  border: 1px solid white;
  font-size: 20x;
  padding: 10px 20px;
  background-color: white;
  letter-spacing: 4px;
  font-family: sans-serif;
  color: black;
  transition: all 0.4s;
}
.button:focus {
  outline: none;
}
.button:hover {
  background-color: transparent;
  color: white;
}

#greeting {
  color: white;
  font-size: 3em;
  text-align: center;
}

.maintodolist {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.maintodolist::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15%;
}
.maintodolist input {
  border-bottom: 1px dotted rgb(107, 107, 107);
  color: black;
}
.maintodolist input::-moz-placeholder {
  color: black;
}
.maintodolist input::placeholder {
  color: black;
}

.todo-form {
  background-color: transparent;
  z-index: 100;
}

.todo-list {
  margin-top: 10px;
  z-index: 100;
}

ul {
  width: 300px;
  list-style-image: url("../image/icon.png");
}

li {
  width: 100%;
  border-bottom: 1px dotted rgb(107, 107, 107);
  margin-bottom: 5px;
  position: relative;
}
li span {
  position: absolute;
  line-height: 0.5;
}
li button {
  border: none;
  background-color: transparent;
  float: right;
  line-height: 0.5;
}

.clock {
  text-align: center;
}
.clock span {
  color: white;
  font-size: 7em;
}

#quote {
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#weather {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
#weather span {
  font-size: 20px;
}

.w-states {
  display: flex;
  align-items: center;
}

.todo-weather-wrapper {
  display: flex;
  justify-content: space-around;
}

.mainweather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 20px;
}
.mainweather::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15%;
}
.mainweather iframe {
  z-index: 100;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */