.ornament {
  border: 5px solid pink;
  width: auto;
  height: 400px;
}

.ornament-the-wrap {
  width: 1000px;
  height: auto;
  margin: auto;
  overflow: hidden;
  border: 4px solid rgb(255, 104, 104);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@import "./mixin.scss";

.ball-wrapper {
  &:nth-child(odd) {
    @include ball-animation {
      @keyframes motion {
        from {
          margin-top: 0px;
        }
        to {
          margin-top: 10px;
        }
      }
    }
  }
  &:nth-child(even) {
    @include ball-animation {
      // margin-top: 10px;
      // top: 10px;
      animation-direction: alternate-reverse;
      @keyframes motion {
        from {
          margin-top: 10px;
        }
        to {
          margin-top: 0px;
        }
      }
    }
  }
}

// .ball-wrapper:nth-child(even) {
//   @include ball-animation {
//     margin-top: 10px;
//     @keyframes motion {
//       from {
//         margin-top: 10px;
//       }
//       to {
//         margin-top: 0px;
//       }
//     }
//   }
// }

.ring {
  height: 15px;
  width: 19px;
  background-color: #c03636;
  border: 2px solid #f99d24;
  border-radius: 45%;
  position: relative;
  // left: 76.4px;
  // top: 12px;
  margin: auto;
}

.string {
  width: 7.5px;
  position: relative;
  background-color: #f99d24;
  height: 200px;
  // left: 80px;
  // top: 12.4px;
  // margin-top: -20px;
  margin: auto;
}

.ball-btn {
  height: 22px;
  width: 30px;
  background-color: #f99d24;
  position: relative;
  // left: 65px;
  top: -7.5px;
  border-radius: 4px;
  margin: auto;
}

@mixin color-ball {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -20px;
  @content;
}

.red-ball {
  @include color-ball {
    background-color: #6b2f36;
  }
}

.green-ball {
  @include color-ball {
    background-color: #9cd6ac;
  }
}

.blue-ball {
  @include color-ball {
    background-color: #475479;
  }
}

.white-ball {
  @include color-ball {
    background-color: #f9f9f9;
  }
}
