.ornament {
  width: auto;
  height: 320px;
}

.ornament-the-wrap {
  // width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

@import "./mixin.scss";

.ball-wrapper {
  &:nth-child(odd) {
    @include ball-animation {
      @keyframes motion {
        from {
          margin-top: -10px;
        }
        to {
          margin-top: 0px;
        }
      }
    }
  }
  &:nth-child(even) {
    @include ball-animation {
      animation-direction: alternate-reverse;
      // @keyframes motion {
      //   from {
      //     margin-top: 0px;
      //   }
      //   to {
      //     margin-top: 10px;
      //   }
      // }
    }
  }
}

.ring {
  height: 15px;
  width: 19px;
  background-color: #c03636;
  border: 2px solid #f99d24;
  border-radius: 45%;
  position: relative;
  margin: auto;
}

.string {
  width: 7.5px;
  position: relative;
  background-color: #f99d24;
  height: 150px;
  margin: auto;
}

.ball-btn {
  height: 22px;
  width: 30px;
  background-color: #f99d24;
  position: relative;
  top: -7.5px;
  border-radius: 4px;
  margin: auto;
}

@mixin color-ball {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -20px;
  @content;
}

.red-ball {
  @include color-ball {
    background: linear-gradient(320deg, #6f0606, #ff9898);
    box-shadow: inset -8px -8px 13px 5px rgb(159 25 25);
  }
}

.green-ball {
  @include color-ball {
    background: linear-gradient(320deg, #034120, #9cf7bb);
    box-shadow: inset -8px -8px 13px 5px rgb(32 121 70);
  }
}

.blue-ball {
  @include color-ball {
    background: linear-gradient(320deg, #06076f, #b2cdff);
    box-shadow: inset -8px -8px 13px 5px rgb(58 66 147);
  }
}

.white-ball {
  @include color-ball {
    background: linear-gradient(320deg, #737373, #ffffff);
    box-shadow: inset -8px -8px 13px 5px rgb(167 167 167);
  }
}
