@import "./font.scss";
@import "./mixin.scss";

.container {
  width: 1340px;
}
body {
  background-image: linear-gradient(
      rgb(255 255 255 / 0%),
      rgb(255 255 255 / 20%)
    ),
    url(image/christmas.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.mainlogin {
  display: flex;
  justify-content: center;
}

.input {
  border: none;
  border-bottom: 1px solid white;
  width: 300px;
  background-color: transparent;
  outline: none;
  color: white;
  &::placeholder {
    color: white;
    font-weight: 400;
  }
}

.button {
  border-radius: 30px;
  border: 1px solid white;
  font-size: 20x;
  padding: 10px 20px;
  background-color: white;
  letter-spacing: 4px;
  font-family: sans-serif;
  color: black;
  transition: all 0.4s;
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: transparent;
    color: white;
  }
}

#greeting {
  color: white;
  font-size: 3em;
  text-align: center;
}

.maintodolist {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  @include before;
  input {
    border-bottom: 1px dotted rgb(107, 107, 107);
    color: black;
    &::placeholder {
      color: black;
    }
  }
}

// .maintodolist::before {
//   position: absolute;
//   content: "";
//   top: 0px;
//   left: 0px;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(255, 255, 255, 0.4);
//   border-radius: 15%;
// }

.todo-form {
  background-color: transparent;
  z-index: 100;
}

.todo-list {
  margin-top: 10px;
  z-index: 100;
}

ul {
  width: 300px;
  list-style-image: url(/image/icon.png);
}

li {
  width: 100%;
  border-bottom: 1px dotted rgb(107, 107, 107);
  margin-bottom: 5px;
  position: relative;
  span {
    position: absolute;
    line-height: 0.5;
  }
  button {
    border: none;
    background-color: transparent;
    float: right;
    line-height: 0.5;
  }
}

.clock {
  text-align: center;
  span {
    color: white;
    font-size: 7em;
  }
}

#quote {
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#weather {
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  span {
    font-size: 20px;
  }
}

.w-states {
  display: flex;
  align-items: center;
}

.todo-weather-wrapper {
  display: flex;
  justify-content: space-around;
}

.mainweather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding: 20px;
  @include before;
  iframe {
    z-index: 100;
    margin: 0 auto;
  }
}
